<main>
    <div *ngIf="roomList">
        <div *ngFor="let room of roomList.data">
            <ul>
                <li>Nom : {{room.name}}</li>
                <li>Description : {{room.description}}</li>
                <li>Capacité : {{room.capacity}}</li>
                <li *ngIf="room.equipements.join()">Equipements : {{room.equipements.join(', ')}}</li>
                <button (click)="reserveRoom(room.name)">Réserver la salle</button>
            </ul>
        </div>
    </div>
    <app-loader *ngIf="!roomList"></app-loader>
    <h2 *ngIf="roomList && roomList.data.length == 0">
        Il n'y a aucune salle de disponible pour l'instant. Veuillez réessayer plus tard
    </h2>
</main>
